a {
	color: inherit; 
}

h1, h2, h3, h4 {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px; 
}

h1 {
	font-size: 3em; 
}

.menu-item, .menu-open-button {
	background: white;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	margin-top: 3vh;
	margin-left: -40px;
	position: absolute;
	top: 20px;
	color: #FFCB05;
	text-align: center;
	line-height: 60px;
	transform: translate3d(0, 0, 0);
	transition: transform ease-out 200ms; 
}

.menu-open {
	display: none; 
}

.hamburger {
	width: 25px;
	height: 3px;
	background: #FFCB05;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12.5px;
	margin-top: -1.5px;
	transition: transform 200ms; 
}

.hamburger-1 {
	transform: translate3d(0, -8px, 0); 
}

.hamburger-2 {
	transform: translate3d(0, 0, 0); 
}

.hamburger-3 {
	transform: translate3d(0, 8px, 0); 
}

.menu-open:checked + .menu-open-button .hamburger-1 {
	transform: translate3d(0, 0, 0) rotate(45deg); 
}

.menu-open:checked + .menu-open-button .hamburger-2 {
	transform: translate3d(0, 0, 0) scale(0.1, 1); 
}

.menu-open:checked + .menu-open-button .hamburger-3 {
	transform: translate3d(0, 0, 0) rotate(-45deg); 
}

.menu {
	filter: url("#shadowed-goo"); 
	position: absolute;
	left: 50%;
	margin-left: -80px;
	padding-top: 20px;
	padding-left: 80px;
	height: 150px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: left; 
}

.menu-item:hover {
	background: #FFCB05;
	color: white; 
}

.menu-item:nth-child(3) {
	transition-duration: 180ms; 
}

.menu-item:nth-child(4) {
	transition-duration: 180ms; 
}

.menu-item:nth-child(5) {
	transition-duration: 180ms; 
}

.menu-item:nth-child(6) {
	transition-duration: 180ms; 
}

.menu-open-button {
	z-index: 2;
	margin-top: 3vh;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 400ms;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	cursor: pointer; 
}

.menu-open-button:hover {
	transform: scale(1.2, 1.2) translate3d(0, 0, 0); 
}

.menu-open:checked + .menu-open-button {
	transition-timing-function: linear;
	transition-duration: 200ms;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0); 
}

.menu-open:checked ~ .menu-item {
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	margin-top: 2em; 
}
.menu-open:checked ~ .menu-item:nth-child(3) {
	transition-duration: 170ms;
	transform: scale(0.5, 0.5) translate3d(0, 76px, 0); 
}
.menu-open:checked ~ .menu-item:nth-child(4) {
	transition-duration: 250ms;
	transform: scale(0.5, 0.5) translate3d(0, 152px, 0); 
}
.menu-open:checked ~ .menu-item:nth-child(5) {
	transition-duration: 330ms;
	transform: scale(0.5, 0.5) translate3d(0, 228px, 0); 
}
.menu-open:checked ~ .menu-item:nth-child(6) {
	transition-duration: 410ms;
	transform: scale(0.5, 0.5) translate3d(0, 304px, 0); 
}
.mobile-menu
{
	z-index: 20;
	display: none;
	background: white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	position: fixed;
	color: #FFCB05;
	text-align: center;
	line-height: 50px;
	margin-left: 72vw;
	top: 6vh;
	transform: translate3d(0, 0, 0);
	transition: transform ease-out 200ms; 
}

.mobile-menu-open
{
	display: none;
}

.mobile-menu-open-button {
	z-index: 22;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 400ms;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	cursor: pointer; 
	background: white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	position: fixed;
	color: #FFCB05;
	text-align: center;
	line-height: 50px;
	transform: translate3d(0, 0, 0);
	transition: transform ease-out 200ms;
		filter: drop-shadow(1px 1px 1px #eee);

}

.mobile-menu-open-button:hover {
	transform: scale(1.2, 1.2) translate3d(0, 0, 0); 
}

.mobile-menu-open:checked + .mobile-menu-open-button {
	transition-timing-function: linear;
	transition-duration: 200ms;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0); 
}

.mobile-menu-open:checked + .mobile-menu-open-button .hamburger-1 {
	transform: translate3d(0, 0, 0) rotate(45deg); 
}

.mobile-menu-open:checked + .mobile-menu-open-button .hamburger-2 {
	transform: translate3d(0, 0, 0) scale(0.1, 1); 
}

.mobile-menu-open:checked + .mobile-menu-open-button .hamburger-3 {
	transform: translate3d(0, 0, 0) rotate(-45deg); 
}

.mobile-menu-dialog
{
	display: none;
	background-color: white;
	position: fixed;
	height: 90vh;
	width: 85vw;
	top: 0px;
	right: 0px;
	z-index: 10;
	padding-left: 1.5em;
	padding-right: 3em;
	padding-top: 5em;
	filter: drop-shadow(0 0 2px #888);
}

@media only screen and (max-width: 600px) {
	.menu {
		visibility: hidden;
		display: none; 
	}
	.mobile-menu {
		display: inline-block;
	}
}
