body
{
	background-color: white;
}

.main-slogan {
	font-family: 'Nunito Sans', sans-serif;	
	position: absolute;
	color: #39383A;
	/*margin-left: -25vw;*/
	margin-left: 12vw;
	margin-top: 10vh;
	text-align: left;
	margin-right: 35vw;
	letter-spacing: -0.02em;
	font-size: 4rem;
	font-weight: 200;
}

p {
	font-family: 'Nunito Sans', sans-serif;	
}

.text-white
{
	color: white;
}

.subtitle {
	color: #FFCB05;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
}

.mobile-menu-item {
	color: #FFCB05;
	font-size: 30px;
}

.mobile-menu-item:hover {
	text-decoration: none;
	font-weight: bold;
	color: #FFCB05;
}

.small-subtitle {
	color: #39383A;
	font-size: 1rem;
	font-weight: 900;
}

.copy-text
{
	font-family: 'Nunito Sans', sans-serif;	
	font-size: 0.9rem;
}

.content-margin
{
	margin-left: 7vw;
}

.content-margin-top
{
	margin-top: 5vw;
}

.logo
{
	margin-left: 6vw;
	margin-top: 8vh;
}

.logo-container
{
	text-align: left;
}

.circle {
	width: 30vw;
	height: 30vw;
	border-radius: 50%;
	font-size: 50px;
	color: #fff;
	line-height: 500px;
	text-align: center;
	background: #FFCB05;
	margin-left: 32vw;
	margin-top: 10vh;
}

.section-one-yellow
{
	min-height: 91vh;
	background-color: #FFCB05;
	background-image: url(/img/doubleyolk_animation.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.curved-border
{
	width: 100vw;
	fill: #FFCB05;
}

.curved-border-mobile
{
	width: 100vw;
	visibility: hidden;
	fill: #FFCB05;
}

.video-box
{
	width: 400px;
	height: 220px;
	background-color: black;
	margin-top: 7vh;
}

.btn-yellow {
	border-width: 2px;
	border-color: #ffcb05;
	color: #ffcb05;
	font-family: ;
	font-family: Arial;
	font-weight: 300;
	letter-spacing: 4px;
	font-size: 12px;
	border-style: solid;
	padding: 1em;
}

.btn-yellow:hover {
	text-decoration: none;
	color: white;
	background-color: #ffcb05;
}

.btn-white {
	border-width: 2px;
	border-color: white;
	color: white;
	font-family: ;
	font-family: Arial;
	font-weight: 300;
	letter-spacing: 4px;
	font-size: 12px;
	border-style: solid;
	padding: 1em;
}

.btn-white:hover {
	text-decoration: none;
	color: #ffcb05;
	background-color: white;
}

.section-three-black {
	margin-top: 10vh;
	background-color: #2f1c39;
	min-height: 100vh;
	background-image: url('../img/section_three.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 80%;
}

.section-four-yellow {
	background-color: #ffcb05;
	/*background-color: #a58303;*/
	min-height: 600px;
	padding: 5vw;
}

.east-west-yolk
{
	-webkit-filter: url("#metaball");
	filter: url("#metaball");
}

.section-five-white {
	background-color: white;
	min-height: 80vh;
	margin-bottom: 8vh;
	background-image: url('../img/section_five.jpg');
	background-repeat: no-repeat;
	background-position: 10% 50%;
}

.section-six-black {
	background-color: black;
	min-height: 80vh;
	background-image: url('../img/section_six.jpg');
	background-repeat: no-repeat;
	background-position: right center;
}

.section-seven-yellow {
	background-color: #ffcb05;
	min-height: 80vh;
	padding-bottom: 5vh;
}

.section-footer-white {
	margin-bottom: -40vh;
	margin-top: 1vh;
}

.form-control {
	border-radius: 0px;
	border-width: 0px;
	margin-bottom: 1.5em;
	font-family: 'Nunito Sans', sans-serif;	
}

.form-control::placeholder {
    color: #b6b6b6 !important;
}

textarea {
	min-height: 25vh;
}

.animation-yolk-merge-unmerge
{
	margin-top: -32vh;
	margin-bottom: -140vh;
}

.landing-bg-container
{
	padding-bottom: 30%;
}

.east-west-labels
{
	font-size: 1.5rem;
	font-weight: bold;
	pointer-events: none;
	width: 100px;
}

.east-west-circles
{
	cursor: pointer;
}

.east-west-circles-mobile
{
	cursor: pointer;
	display: none;
}

.east-label
{
	/*margin-left: 12vw;*/
	margin-left: 740px;
	margin-top: -270px;
}

.west-label
{
	/*left: 23vw;*/
	position: absolute;
	margin-left: 300px;
	margin-top: -270px
}

.east-west-big-circle
{
	visibility: hidden;
	width: 30vw;
	pointer-events: none;
}

.east-west-big-circle-title
{
	position: absolute;
	margin-top: -130px;
	/*width: 200px;*/
	width: 450px;
	height: 100px;
	/*margin-left: 450px;*/
	text-align: center;
}

.east-west-big-circle-content
{
	/*width: 30vw;*/
	width: 450px;
	height: 30vh;
	text-align: center;
	position: absolute;
	margin-top: -30px;
	/*margin-left: 350px;*/
}

.east-west-big-circle-mobile
{
	visibility: hidden;
	width: 10vw;
	pointer-events: none;
}

.east-west-big-circle-title-mobile
{
	position: absolute;
	margin-top: -120px;
	width: 200px;
	height: 100px;
	margin-left: 20%;
	text-align: center;
}

.east-west-big-circle-content-mobile
{
	width: 60vw;
	text-align: center;
	position: absolute;
	margin-top: -20px;
	margin-left: 15%;
}

.menu-item-label > a
{
	font-family: 'Nunito Sans'
}

.menu-item-label > a:hover
{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.small-subtitle > a:hover
{
	text-decoration: none;
	color: #ffcb05;
}

.east-west-yolk-mobile
{
	display: none;
}

.safari-circle
{
	width: 20vw;
	height: 20vw;
	border-radius: 10vw;
	font-size: 1.2em;
	color: black;
	background-color: white; 
	/*line-height: 20vw;*/
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-top: 20vh;
	padding-top: 8vw;
}

.safari-west-circle
{
	left: 25vw;
	z-index: 2;
}

.safari-west-circle-animation
{
	animation-name: west_circle_animation;
	animation-duration: 4s;
	left: 25vw;
	height: 44vw;
	width: 44vw;
	/*line-height: 44vw;*/
	border-radius: 22vw;
	margin-top: -5vh;
}

@keyframes west_circle_animation
{
	0% 
	{
		margin-top: 20vh;
		left: 25vw;
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		line-height: 20vw;
		color: black;
	}
	50%
	{
		margin-top: 20vh;
		left: 40vw;
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		line-height: 20vw;
		color: white;
	}
	100%
	{
		left: 25vw;
		height: 44vw;
		width: 44vw;
		border-radius: 22vw;
		margin-top: -5vh;
		color: black;
	}
}

@keyframes west_circle_animation_mobile
{
	0% 
	{
		margin-top: 10vh;
		left: 25vw;
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		line-height: 20vw;
		color: black;
	}
	50%
	{
		margin-top: 10vh;
		left: 40vw;
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		line-height: 20vw;
		color: white;
	}
	100%
	{
		left: 20vw;
		height: 60vw;
		width: 60vw;
		border-radius: 30vw;
		margin-top: 0vh;
		color: black;
	}
}

@keyframes west_circle_animation_tablet
{
	0% 
	{
		margin-top: 10vh;
		left: 25vw;
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		line-height: 20vw;
		color: black;
	}
	50%
	{
		margin-top: 10vh;
		left: 40vw;
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		line-height: 20vw;
		color: white;
	}
	100%
	{
		left: 20vw;
		height: 60vw;
		width: 60vw;
		border-radius: 30vw;
		margin-top: 2vh;
		color: black;
	}
}

.safari-west-circle-reverse-animation
{
	animation-name: west_circle_reverse_animation;
	animation-duration: 4s;

	left: 25vw;
	width: 20vw;
	height: 20vw;
	border-radius: 10vw;
	color: black;
	margin-top: 20vh;
	/*margin-top: 2vh;*/
	/*padding-top: 8vw;*/
}

@keyframes west_circle_reverse_animation
{
	0% 
	{
		left: 20vw;
		height: 60vw;
		width: 60vw;
		border-radius: 30vw;
		margin-top: 2vh;
		color: black;
	}
	50% 
	{
		left: 40vw;
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
		color: white;
		margin-top: 20vh;
	}
	100% 
	{
		left: 25vw;
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
		color: black;
		margin-top: 20vh;
	}
}

@keyframes west_circle_reverse_animation_mobile
{
	0% 
	{
		left: 20vw;
		height: 60vw;
		width: 60vw;
		border-radius: 30vw;
		margin-top: 2vh;
		color: black;
	}
	50% 
	{
		left: 40vw;
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
		color: white;
		margin-top: 10vh;
	}
	100% 
	{
		left: 25vw;
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
		color: black;
		margin-top: 10vh;
	}
}

.safari-east-circle
{
	left: 55vw;
	margin-top: -20vw;
	z-index: 1;
}

.safari-east-circle-animation
{
	animation-name: east_circle_animation;
	animation-duration: 2s;
	left: 40vw;
	color: white;
}

@keyframes east_circle_animation
{
	0% {left: 55vw; color: black;}
	100% {left: 40vw; color: white;}
}

.safari-east-circle-reverse-animation
{
	animation-name: east_circle_reverse_animation;
	animation-duration: 4s;
	left: 55vw;
	color: black;
}

@keyframes east_circle_reverse_animation
{
	0% {left: 40vw; color: white;}
	50% {left: 40vw; color: white;}
	100% {left: 55vw; color: black;}
}

@media only screen and (max-width: 600px) 
{
	.circle {
		width: 40vw;
		height: 40vw;
		margin-left: 28vw;
	}
	.logo {
		width: 150px;
		margin-top: 6vh;
	}
	.main-slogan {
		font-size: 1.5rem;
		margin-right: 12vw;
		margin-top: 4vh;
	}

	.section-one-yellow {
		min-height: 50vh;
		background-position: 50% 8vh;
	}

	.curved-border
	{
		visibility: hidden;
		display: none;
	}

	.curved-border-mobile
	{
		visibility: initial;
	}

	.video-box
	{
		width: 260px;
		height: 160px;
		background-color: black;
		margin-left: 10vw;
	}

	.footer-nav
	{
		position: absolute;
		text-align: right;
		margin-top: -12vh;
		margin-left: 16vw;
	}

	.animation-yolk-merge-unmerge
	{
		margin-top: -32vh;
		margin-bottom: -70vh;
	}

	.east-west-labels
	{
		font-size: 1.5rem;
		font-weight: bold;
		pointer-events: none;
		width: 100px;
	}

	.east-label
	{
		/*left: 58vw;*/
		/*margin-left: 240px;*/
		margin-top: -270px;
	}

	.west-label
	{
		/*left: 23vw;*/
		position: absolute;
		/*margin-left: 300px;*/
		margin-top: -270px;
	}

	.east-west-labels-mobile
	{
		font-size: 1.5rem;
		font-weight: bold;
		pointer-events: none;
		width: 100px;
	}

	.east-label-mobile
	{
		margin-left: 60vw;
		/*margin-left: 250px;*/
		margin-top: -270px;
	}

	.west-label-mobile
	{
		margin-left: 15vw;
		position: absolute;
		/*margin-left: 70px;*/
		margin-top: -270px
	}

	.east-west-yolk
	{
		display: none;
	}

	.east-west-yolk-mobile
	{
		display: block;
	}

	.east-west-circles-mobile
	{
		display: block;		
	}

	.section-three-black
	{
		min-height: 60vh;
		background-size: 100%;
		background-position: 10% 30%;
	}


	.section-four-yellow
	{
		min-height: 80vh;
	}

	.section-five-white
	{
		background-position: 10% 390px;
		min-height: 98vh;
	}

	.section-six-black
	{
		background-size: contain;
		background-position: 0% 200%;
	}

	.safari-circle
	{
		margin-top: 10vh;
		position: relative;
		padding-top: 2vh;
		font-size: 1em;
	}

	.safari-circle h4
	{
		margin-bottom: -4vh;
	}

	.safari-east-circle
	{
		margin-top: -20vw;
	}

	.safari-west-circle-animation
	{
		margin-top: 0vh;
		animation-name: west_circle_animation_mobile;
		height: 60vw;
		width: 60vw;
		border-radius: 30vw;
		left: 20vw;
	}

	.safari-west-circle-reverse-animation
	{
		animation-name: west_circle_reverse_animation_mobile;
		animation-duration: 4s;

		left: 25vw;
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
		color: black;
		margin-top: 10vh;
		/*margin-top: 2vh;*/
		/*padding-top: 8vw;*/
	}

}

@media only screen and (min-width: 600px) and (max-width: 1024px) 
{

	.section-three-black
	{
		min-height: 50vh;
		background-size: 80%;
	}

	.section-five-white
	{
		background-position: 10% 390px;
		min-height: 65vh;
	}

	.safari-circle
	{
		margin-top: 10vh;
		padding-top: 4vh;
		font-size: 2em;
	}
	
	.safari-circle h4
	{
		font-size: 1.5em;
	}

	.safari-east-circle
	{
		margin-top: -20vw;
	}

	.safari-west-circle-animation
	{
		margin-top: 0vh;
		animation-name: west_circle_animation_tablet;
		height: 60vw;
		width: 60vw;
		border-radius: 30vw;
		left: 20vw;
	}

	.safari-west-circle-reverse-animation
	{
		animation-name: west_circle_reverse_animation_mobile;
		animation-duration: 4s;

		left: 25vw;
		width: 20vw;
		height: 20vw;
		border-radius: 10vw;
		color: black;
		margin-top: 10vh;
		/*margin-top: 2vh;*/
		/*padding-top: 8vw;*/
	}

}

@media only screen and (min-width: 950px) and (max-width: 1360px)
{
	.safari-circle
	{
		font-size: 1.5em;
	}
	
	.safari-circle h4
	{
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1360px) and (max-width: 1400px)
{
	.safari-circle
	{
		font-size: 1.5em;
	}
	
	.safari-circle h4
	{
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1400px)
{
	.safari-circle
	{
		font-size: 2em;
	}
	
	.safari-circle h4
	{
		font-size: 1.5em;
	}

}